<!--div class="row-fluid">
	<br>
		<br>
	<div class="pull-right"><button class="btn btn-danger delete"><i class="icon-trash icon-white "></i></a></button>	</div>	
    <form class="form-horizontal">

        

            <div class="row">
                <div >

                    <div class="control-group">
                        <label for="wineId" class="control-label">Id:</label>

                        <div class="controls">
                            <input id="wineId" name="id" type="text" value="<%= _id === null ? '' : _id %>"
                                   disabled/>
                        </div>
                    </div>

                    <div class="control-group">
                        <label for="name" class="control-label">Name:</label>

                        <div class="controls">
                            <input type="text" id="name" name="name" value="<%= name %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
					<div class="control-group">
                        <label for="date" class="control-label">Date:</label>

                        <div class="controls">
                            <input type="text" id="date" name="date" value="<%= date %>"/>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label for="description" class="control-label">Notes:</label>

                        <div class="controls">
                            <textarea id="description" name="description" style="width: 50%;" rows="6"><%= description
                                %></textarea>
                        </div>
                    </div>

                </div>
				<div class="form-actions">
					<a href="#" class="btn btn-primary save">Save</a>
					<input type="reset" class="btn btn-info" value="Clear"/>
					<a href="/#albums" class="btn btn-success">photo albums</a>
				</div>
            </div>

       

        

    </form>


</div>
<div class="row-fluid status-bar">
    <div >
        <div class="alert alert-success" style="display: none">
            <b>Success!</b> Wine saved successfully
        </div>
    </div>
</div-->

<div class="frm">
        <div class="form-screen">
          <div class="form-icon">
            <img src="images/icons/Pensils@2x.png" alt="Album" onmouseover="$(this).transition({rotate:'180deg'}).transition({rotate:'0deg'})">
            <h4></h4>
          </div>

          <div class="form-form">
			<fieldset>
				<legend>Album</legend>
				<form>
					
						<div class="control-group">
							<input id="wineId" class="form-field" placeholder="Album ID" name="id" type="text" value="<%= _id === null ? '' : _id %>" disabled/>
							<label for="wineId" class="form-field-icon"></label>
						</div>
						<div class="control-group">                        
							<input type="text" id="name" class="form-field" placeholder="Enter Name" name="name" value="<%= name %>"/>
							<label for="name"  class="form-field-icon icon-pencil"></label>
							<span class=" help-inline"></span>
						</div>
						<div class="control-group">
							<input type="text" id="date" class="form-field" name="date" placeholder="Select Date" value="<%= date %>"/>
							<label for="date" class="form-field-icon icon-calendar-empty"></label>
							<span class=" help-inline"></span>
						</div>
						
						<div class="control-group">
							<textarea id="description" class="form-field" name="description" placeholder="Enter Notes" style="height:30px" ><%= description%></textarea>
							<label for="description" class="form-field-icon icon-pencil" ></label>
							<span class=" help-inline"></span>
						</div>
						

					
					
						<a class="btn btn-primary btn-large btn-block save" href="#"><i class="icon-save icon-2x"></i>  Save Album</a>
						<a href="/#albums" class="btn btn-success btn-large btn-block">View Photo Albums</a>
						<a href="/#albums" class="delete btn btn-danger btn-large btn-block <%= _id === null ? 'hide' : '' %>">Delete Album</a>
					
			   </form>
		
		   <div class="row-fluid status-bar">
				<div >
					<div class="alert alert-success" style="display: none">
						<b>Success!</b> Wine saved successfully
					</div>
				</div>
		   </div>
		</fieldset>
		  </div>
        </div>
      </div>
